body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #fff7ab;
}

.superheroes-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.title {
  display: block;
  font-family: sans-serif;
}

.superhero-form {
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding: 20px;
  background: linear-gradient(45deg, #bb1881, #f88b50);
  color: #fff;
  font-family: sans-serif;
  border-radius: 20px;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1em;
}

.form-row {
  margin-bottom: 0.5em;
}

label {
  display: block;
}

input,
textarea {
  width: 250px;
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
}

textarea {
  resize: vertical;
}

.button-add {
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: #bb1881;
}

.button-add:hover {
  background-color: #701450;
}

button:hover {
  background-color: #def770fd;
}

.superhero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 10px;
  background-color: #def770fd;
}

.superhero-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.superhero-card .superhero-info {
  text-align: center;
}

.superhero-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.superhero-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.superhero-card p {
  margin-bottom: 10px;
}

.superhero-card ul {
  list-style: auto;
  padding: 0 20px;
  margin-bottom: 10px;
}

.superhero-card li {
  margin-bottom: 5px;
}

.superhero-card .delete-button {
  background-color: transparent;
  color: red;
  cursor: pointer;
  font-size: 24px;
  border: red 1px solid;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.superhero-card,
.delete-button:hover {
  color: darkred;
  border: darkred 1px solid;
}

.title__block {
  text-align: left;
  margin-bottom: 5px;
}

.phraseBlock__superhero {
  font-style: oblique;
  text-align: left;
  margin: 2px;
}

.superpowers {
  text-align: left;
}

.superhero-info {
  margin-bottom: 15px;
}

.button-update-container {
  display: flex;
  justify-content: center;

  margin-top: 15px;
}

.button-update {
  background-color: transparent;
  color: red;
  cursor: pointer;
  font-size: 24px;
  border: #ff0000 1px solid;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.button-update:hover {
  color: darkred;
  border: darkred 1px solid;
}

.textarea-update {
  min-height: 100px;
  margin-bottom: 0.5em;
}

.textarea-update__superpowers,
.textarea-update__phrase {
  min-height: 50px;
}

.name-update {
  margin-bottom: 6px;
}

.title-update {
  text-align: center;
}
